body, html {
  margin: 0;
  padding: 0;
}

#reporting {
  margin: 0;
  padding: 0;
}

.sgn-pos-rel {
  position: relative;
}

.sgn-pos-abs {
  position: absolute;
}

.sgn-floating-menu {
  z-index: 2000;
  display: block;

  top: 50px;
  right: 20px;

  width: 500px;
}

.sgn-floating-menu.sgn-show {
  display: block;
}

.sgn-floating-menu.sgn-hidden {
  display: none;
}

.sgn-post-abs.sgn-top-right{
  top: 0px;
  right: 0px;
}

.sgn-btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.sgn-btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.sgn-btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.sgn-map-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.sgn-drawer.sgn-hidden {
  flex-grow: 0;
  width: 0px;
}

.sgn-drawer.sgn-show {
  flex-grow: 2;
  width: 500px;
  z-index: 10000;
}

.sgn-map-cell {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.sgn-map-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sgn-map-buttons {
  text-align: center;
}

.sgn-map-buttons .sgn-menu ul {
  margin: 0; padding: 0;
}

.sgn-map-buttons .sgn-menu ul li{
  list-style-type: none;
  padding-bottom: 0.5em;
}

.sgn-map-buttons .sgn-menu.sgn-hidden{
  animation: sgn-floating-sub-btn-slide-out 0.5s forwards;
}

.sgn-map-buttons .sgn-menu.sgn-show{
  animation: sgn-floating-sub-btn-slide-in 0.5s forwards;
}

@keyframes sgn-floating-sub-btn-slide-out {
  100% { 
    height: 0;
    overflow: hidden;
  }
}

@keyframes sgn-floating-sub-btn-slide-in {
  100% { 
    height: auto;
  }
}

.sgn-map-cell .sgn-map {
  flex-grow: 4;
}

.sgn-map-drawer {
  flex-grow: 0;
  position: relative;
}

.sgn-map-drawer.sgn-show {
  animation: slide-in 0.5s forwards;
}

.sgn-map-drawer.sgn-hidden {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-out {
  100% { 
    height: 0px; 
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-in {
  100% { 
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.sgn-map-drawer .sgn-map-drawer-close {
  position: absolute;
  text-align: center;
  top: -50px;
  left: 50%;
  height: 50px;
  width: 100px;
}

.sgn-map {
  position: relative; 
}

.sgn-map-buttons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}

.sgn-map-overlay, .sgn-map-drawer {
  z-index: 1000;
}

.invalid-feedback {
  display: show;
}

#alert-form-select-alert-category li {
  display: inline;
  text-align: center;
}