.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

.leaflet-control-container { position: absolute; right: 56px } 

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

body, html {
  margin: 0;
  padding: 0;
}

#reporting {
  margin: 0;
  padding: 0;
}

.sgn-map-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.sgn-drawer.sgn-hidden{
  flex-grow: 0;
}

.sgn-drawer.sgn-show{
  flex-grow: 2;
  z-index: 10000;
}

.sgn-map-cell {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.sgn-map-navbar, .sgn-map-cell {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sgn-map-cell .sgn-map {
  flex-grow: 4;
}

.sgn-map-drawer {
  flex-grow: 0;
  position: relative;
  animation: slide 0.5s forwards;
}

.sgn-map-drawer .sgn-map-drawer-close {
  position: absolute;
  top: -50px;
  left: 50%;
  height: 50px;
  width: 100px;
}

.sgn-map {
  position: relative; 
}

.sgn-map-buttons {
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 1000;
}

@keyframes slide {
  100% { flex-grow: 1; }
}

.sgn-map-overlay, .sgn-map-drawer {
  z-index: 1000;
}

.invalid-feedback {
  display: show;
}

#alert-form-select-alert-category li {
  display: inline;
  text-align: center;
}